{% extends 'commonheader.html' %}
{% block content %}
<br><br>
    <!-- ======= Team Section ======= -->
    <div id="team" class="our-team-area area-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center">
              <h2>Gallery</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="single-team-member">
              <div class="team-img">
                <a href="#">
                  <!--<link href="{{url_for('static', filename = 'assets/img/favicon.png')}}" rel="icon">-->
                  <img src="{{url_for('static', filename = 'assets/img/Pic1.jpg')}}" alt="">
                  <!--<img src="assets/img/team/1.jpg" alt="">-->
                </a>
              </div>
            </div>
          </div>
          <!-- End column -->
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="single-team-member">
              <div class="team-img">
                <a href="#">

                  <img src="{{url_for('static', filename = 'assets/img/Pic2.jpg')}}" alt="">
                </a>
              </div>
            </div>
          </div>
          <!-- End column -->
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="single-team-member">
              <div class="team-img">
                <a href="#">
                  <img src="{{url_for('static', filename = 'assets/img/Pic3.jpg')}}" alt="">
                </a>
              </div>
            </div>
          </div>
          <!-- End column -->
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="single-team-member">
              <div class="team-img">
                <a href="#">
                  <img src="{{url_for('static', filename = 'assets/img/Pic4.png')}}" alt="">
                </a>
              </div>
            </div>
          </div>
          <!-- End column -->
        </div>

                  <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="single-team-member">
              <div class="team-img">
                <a href="#">
                  <!--<link href="{{url_for('static', filename = 'assets/img/favicon.png')}}" rel="icon">-->
                  <img src="{{url_for('static', filename = 'assets/img/Pic5.jpg')}}" alt="">
                  <!--<img src="assets/img/team/1.jpg" alt="">-->
                </a>
              </div>
            </div>
          </div>
          <!-- End column -->
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="single-team-member">
              <div class="team-img">
                <a href="#">

                  <img src="{{url_for('static', filename = 'assets/img/Pic6.png')}}" alt="">
                </a>
              </div>
            </div>
          </div>
          <!-- End column -->
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="single-team-member">
              <div class="team-img">
                <a href="#">
                  <img src="{{url_for('static', filename = 'assets/img/Pic7.png')}}" alt="">
                </a>
              </div>
            </div>
          </div>
          <!-- End column -->
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="single-team-member">
              <div class="team-img">
                <a href="#">
                  <img src="{{url_for('static', filename = 'assets/img/Pic8.jpg')}}" alt="">
                </a>
              </div>
            </div>
          </div>
          <!-- End column -->
        </div>

                  <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="single-team-member">
              <div class="team-img">
                <a href="#">
                  <!--<link href="{{url_for('static', filename = 'assets/img/favicon.png')}}" rel="icon">-->
                  <img src="{{url_for('static', filename = 'assets/img/Pic9.jpg')}}" alt="">
                  <!--<img src="assets/img/team/1.jpg" alt="">-->
                </a>
              </div>
            </div>
          </div>
          <!-- End column -->
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="single-team-member">
              <div class="team-img">
                <a href="#">

                  <img src="{{url_for('static', filename = 'assets/img/Pic10.jpg')}}" alt="">
                </a>
              </div>
            </div>
          </div>
          <!-- End column -->
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="single-team-member">
              <div class="team-img">
                <a href="#">
                  <img src="{{url_for('static', filename = 'assets/img/Pic1.jpg')}}" alt="">
                </a>
              </div>
            </div>
          </div>
          <!-- End column -->
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="single-team-member">
              <div class="team-img">
                <a href="#">
                  <img src="{{url_for('static', filename = 'assets/img/Pic2.jpg')}}" alt="">
                </a>
              </div>
            </div>
          </div>
          <!-- End column -->
        </div>
      </div>
    </div><!-- End Team Section -->

{% endblock %}