{% extends 'hospitalheader.html' %}
{% block content %}
<br><br>
              <h2>About Patient Medical Record</h2>
<div class="row">
<div class="col-md-6 col-sm-6 col-xs-12">
            <div class="well-left">
              <div class="single-well">
                <a href="#">
                  <img src="/static/assets/img/Pic4.png" alt="">
                </a>
              </div>
            </div>
          </div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
            <div class="well-middle">
              <div class="single-well">
                <p>
 Medical records were traditionally kept in paper form, with tabs separating the sections. As printed reports were generated, they were moved to the correct tab. With the advent of the electronic patient record, these sections may still be found but as tabs or menus within the electronic record.
                </p>
                <ul>
                  <li>
                    <i class="bi bi-check"></i> Patient Demographics
                  </li>
                  <li>
                    <i class="bi bi-check"></i> Financial Information
                  </li>
                  <li>
                    <i class="bi bi-check"></i> Consent and Authorization Forms
                  </li>
                  <li>
                    <i class="bi bi-check"></i> Release of information
                  </li>
                  <li>
                    <i class="bi bi-check"></i> Treatment History
                  </li>
                </ul>
              </div>
            </div>
          </div>

{% endblock %}