{% extends 'commonheader.html' %}
{% block content %}
<br><br>
              <h2>About Patient Medical Record</h2>
    <!-- ======= Services Section ======= -->
    <div id="services" class="services-area area-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline services-head text-center">
              <h2>Our Services</h2>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <!-- Start Left services -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                    <i class="bi bi-briefcase"></i>
                  </a>
                  <h4>Prescription</h4>
                  <p>
          The prescription should be preferably on the OPD slip of the institution or on the letter pad of the doctor. Drug company or chemist prescription pad should never be used. Prescription must contain—patient’s name, age, sex, address and institution/hospital name.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                    <i class="bi bi-card-checklist"></i>
                  </a>
                  <h4>Financial Information</h4>
                  <p>
                    Insurance payer’s name, address, and phone number
Subscriber name
Policy number
Responsible party name, address and phone number
Responsible party employer, occupation and employer phone number
Patient’s relationship to the insured
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                    <i class="bi bi-bar-chart"></i>
                  </a>
                  <h4>Referral Notes</h4>
                  <p>
                  Always keep the carbon copy of referral note especially in case of critically ill patient. Referral note should mention the date and time of writing the note. Also write the treatment given.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                    <i class="bi bi-binoculars"></i>
                  </a>
                  <h4> Discharge Card </h4>
                  <p>
                    Consultant in-charge should himself fill or supervise the discharge card. Condition of the patient on the admission, investigation done, the treatment given and detail advice on discharge should be written on discharge card.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <!-- End Left services -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                    <i class="bi bi-brightness-high"></i>
                  </a>
                  <h4>Certificates</h4>
                  <p>
                    A medical certificate is defined as a document of written evidence vouching for the truth of a fact as determined by the doctor issuing such a document. If medical certificate is admitted in a court of law as evidence and is proved to be false, the issuing doctor is liable for punishment.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <!-- End Left services -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                    <i class="bi bi-calendar4-week"></i>
                  </a>
                  <h4>How Long to Maintain the Records</h4>
                  <p>
                    Ideally records of adult patient are maintained for 3 year.
21 year for neonatal patient (3 + 18 year).
For children 18 year of age + 3 year.
For mentally retarded patient forever till hospital/institution is working.
From income tax point of view for 7 years.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Services Section -->
{% endblock %}