{% extends 'commonheader.html' %}
{% block content %}
<br><br>
                  <!-- ======= Contact Section ======= -->
    <div id="contact" class="contact-area">
      <div class="contact-inner area-padding">
        <div class="contact-overly"></div>
        <div class="container ">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="section-headline text-center">
                <h2>Staff Generate OTP Page</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- Start  contact -->
            <div class="col-md-6">
              <div class="form contact-form">
                <form action="/staffchecking" method="post" role="form">
                  <div class="form-group">
                    <input type="text" name="uname" class="form-control" id="uname" placeholder="Your Name" required
                    value="{{uname}}" readonly>
                  </div>
                  <div class="form-group mt-3">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required
                    value="{{toemail}}" readonly>
                  </div>
                  <div class="text-center">
                    <br>
                    <a href="http://onnovater.in/generate_otp.php?toemail={{toemail}}&otp={{otp}}&redirecturl={{redirecturl}}" style="color:red; font-size:25px;">Generate OTP</a>
                  <!--<button type="submit">Check Staff</button>-->
                  </div>
                </form>
              </div>
            </div>
            <!-- End Left contact -->
          </div>
        </div>
      </div>
    </div><!-- End Contact Section -->

{% endblock %}